.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
  height: 293px;
  padding: 0 50px;
  background-color: white;
}

.header-menu {
  display: flex;
  justify-content: start;
  align-items: center;
}

.header_links-list {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  list-style: circle;
}

.header_links-list_item {
  margin-left: 18px;
}

.header_links-list_item-no-bullet {
  list-style: none;
}

.header_link {
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-decoration: underline;
}

.active {
  text-decoration: none;
}

.header_logo {
  width: 148px;
}

.header_logo-image {
  display: block;
}

.address {
  width: 240px;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 1.3;
}

.header_address {
  justify-self: end;
}

.underline-thin {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.main {
  position: relative;
}

.cover {
  position: relative;
  width: 100%;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0 / 0.5);
}

.cover_title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 385px;
  margin-top: 165px;
  padding: 0 50px;
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
}

.aligned-text {
  justify-content: flex-start;
}

.aligned-text_center {
  justify-content: center;
}

.aligned-text_right {
  justify-content: flex-end;
}

.letter-spacing-extended {
  display: flex;
  letter-spacing: 30%;
  text-transform: uppercase;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
  padding: 0 50px;
}
.cover_description-text {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  max-width: 256px;
  height: 51px;
  border: 1px solid white;
  padding: 12px 31px;
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  white-space: nowrap;
}

.lots {
  max-width: 1052px;
  min-height: 723px;
  margin: 180px 24px 120 px;
  background-color: white;
}

.lots_heading {
  margin-bottom: 25px;
  margin-left: 40px;
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots_card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots_card-list-item {
  position: relative;
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  padding: 48px 40px;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}
/* объединила общие стили для карточек */
.card_type_film,
.card_type_book,
.card_type_picture {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* объединила общие стили для заголовка и текста */
.card_title,
.card_text {
  position: relative;
  z-index: 2;
  margin: 0;
  color: white;
  font-family: "Raleway", sans-serif;
}
.card_title {
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card_text {
  font-weight: normal;
  font-size: 20px;
}

.lots_look-more-link {
  display: inline-block;
  margin: 25px 0 0 40px;
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
.about {
  max-width: 1052px;
  height: 595px;
  margin: 0 24px;
  background-color: white;
}

.about_column {
  display: grid;
  grid-template-columns: 334px auto;
  gap: 25px;
  height: 100%;
}

.about_logo {
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 34px auto 0;
  border-radius: 50%;
  background-color: black;
}

.about_logo-image {
  width: 148px;
  height: 114px;
}

.about-auction {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.about_title {
  margin-bottom: 76px;
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about_text {
  margin-top: 24px;
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: start;
  gap: 25px;
  width: 100%;
  height: 180px;
  padding: 0 50px;
  background-color: white;
}

.footer-address {
  justify-self: start;
}

.footer_menu {
  display: flex;
  justify-content: center;
}

.footer_menu-list {
  text-align: center;
  list-style: none;
}

.footer_menu-list-item {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.footer_menu-link_active {
  text-decoration: none;
}

.footer_menu-link {
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.footer_social-list {
  display: flex;
  justify-self: end;
  justify-content: space-between;
  width: 240px;
  height: 48px;
  list-style: none;
}

.footer_social-link {
  width: 48px;
  height: 48px;
}
